$font-stack: "Palatino Linotype", "Book Antiqua", Palatino, serif;

html {
  background: black;
}

.header {
  font-family: $font-stack;
  color: red;
  font-size: 10em;
  position: relative;
  top: -100px;
}